{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Репозитории" %}{% endblock %}

{% block content %}
<div class="container py-4">
  {% if user.is_authenticated %}
    <div class="row">
      {% for repository in repositories %}
        {% include "includes/repository_card.html" with repository=repository %}
      {% empty %}
        <p class="text-center">{% trans "У вас нет репозиториев" %}</p>
      {% endfor %}
    </div>
    <a href="{% url 'repositories:new' %}">Новый репозиторий</a>
  {% endif %}
</div>
{% endblock %}
