{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Репозитории" %}{% endblock %}

{% block content %}

<nav>
  <a href="{% url 'repositories:detail' pk=repository.id %}" class="btn btn-light btn-sm">Информация</a>
  <a href="{% url 'repositories:tasks' pk=repository.id %}" class="btn btn-light btn-sm">Задачи</a>
  <a href="{% url 'repositories:history' pk=repository.id %}" class="btn btn-light btn-sm">История изменений</a>
  <a href="{% url 'repositories:settings' pk=repository.id %}" class="btn btn-light btn-sm">Настройки</a>
  <a href="{% url 'repositories:calendar' pk=repository.id %}" class="btn btn-light btn-sm">Календарь</a>
</nav>

<div class="container py-4">
  {% if user.is_authenticated %}
    <div class="row">
      {% for task in tasks %}
        <h2>{{ task.name }}</h2>
        <br>
        {{ task.text }}
        <br>
        {{ task.start_at }}
        <br>
        {{ task.end_at }}
        <br>
      {% empty %}
        <p class="text-center">{% trans "У репозитория еще нет истории изменения" %}</p>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
