{% extends "base.html" %}

{% load static %}

{% block title %}{{ repository.name }}{% endblock %}

{% block content %}
  <nav>
    <a href="{% url 'repositories:detail' pk=repository.id %}" class="btn btn-light btn-sm">Информация</a>
    <a href="{% url 'repositories:tasks' pk=repository.id %}" class="btn btn-light btn-sm">Задачи</a>
  <a href="{% url 'repositories:history' pk=repository.id %}" class="btn btn-light btn-sm">История изменений</a>
    <a href="{% url 'repositories:settings' pk=repository.id %}" class="btn btn-light btn-sm">Настройки</a>
    <a href="{% url 'repositories:calendar' pk=repository.id %}" class="btn btn-light btn-sm">Календарь</a>
  </nav>

  <div class="container">
    {% for task in tasks %}
      <h4>{{ task.name }}</h4>
      <a href="{% url 'repositories:delete_task' pk=repository.pk task_pk=task.id %}">Удалить</a>
      <a href="{% url 'repositories:edit_task' pk=repository.id task_pk=task.id %}" class="btn btn-warning">Редактировать</a>
    {% empty %}
      <h4>Задач нет</h4>
    {% endfor %}
  </div>

  {% if is_can %}
    <a href="{% url 'repositories:task_new' pk=repository.id %}">Новая задача</a>
  {% endif %}
{% endblock %}
