{% extends "base.html" %}

{% load static %}
{% block title %}{{ repository.name }}{% endblock %}

{% block content %}

<nav>
  <a href="{% url 'repositories:detail' pk=repository.id %}" class="btn btn-light btn-sm">Информация</a>
  <a href="{% url 'repositories:tasks' pk=repository.id %}" class="btn btn-light btn-sm">Задачи</a>
  <a href="{% url 'repositories:history' pk=repository.id %}" class="btn btn-light btn-sm">История изменений</a>
  <a href="{% url 'repositories:settings' pk=repository.id %}" class="btn btn-light btn-sm">Настройки</a>
  <a href="{% url 'repositories:calendar' pk=repository.id %}" class="btn btn-light btn-sm">Календарь</a>
</nav>

<form method="post" action="{% url 'repositories:settings' pk=repository.id%}">
  {% csrf_token %}
  {{ settings_form.as_p }}
  <button type="submit">Изменить</button>
</form>

{% endblock %}