{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href='{% static "bootstrap/css/bootstrap-icons.css" %}' rel="stylesheet">
    {% block css %} {% endblock %}
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
    <script src="//cdn.ckeditor.com/4.25.0-lts/standard/ckeditor.js"></script>
    <link rel="icon" type="image" href='{% static "/img/logo.svg" %}'/>
  </head>
  <body>
    {% include "includes/header.html" %}

    <div class="container">
      {% if messages %}
        <div class="container mt-4 mb-4">
          {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% block content %} Dont load {%  endblock %}

    {% include "includes/footer.html" %}

    {% block js %}{% endblock %}
  </body>
</html>
